
div.inithide {
  display: none;
}

span.apival_name {
  font-weight: bold;
}
span.apicl {
  display: none;
}

ul.inlinelist {
  display: inline;
  padding: 0;
}
ul.inlinelist > li {
  display: inline;
}
ul.inlinelist > li:not(:last-of-type)::after {
  content: " | ";
}

table, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
}
td {
  padding: 0.3em;
}

.warning {
  border: #FF0000 0.2em solid;
  padding: 0.5em;
}
.warning, .warning_item {
  display: none;
}